/*FONTE*/
@font-face {
    font-family: "letter";
    src: url("fontes/VEZTRO.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "pixelmon";
    src: url("fontes/upheavtt.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/*FUNDO*/

body {
    background-repeat: no-repeat;
    background: linear-gradient(45deg, #1e90ff, #fa89ec, #ffdb58);
    background-size: 400% 300%;
    position: relative;
    animation: change 15s ease-in infinite;
}
@keyframes change {
    0%{
        background-position: 0 70%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 70%;
    }
}

.main-title{
    font-family: "letter";
    font-size: 60px;
}
/*CARD*/ 
.card{
    margin-bottom: 30px;
}
.efeito-card{
    overflow: hidden
}
.efeito-card img {
    max-width:100%;
    -moz-transition:(all 0.2s);
    -webkit-transition-all: 0.2s;
    transition: all 0.2s;
}
.efeito-card:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.card-img-top{
    max-width: 100%;
    max-height: 100%;
    width: 414px;
    height: 414px;
}
.card-title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: "pixelmon";
    font-weight: bolder;
    font-size: 27px;
    letter-spacing: 1px;
}
.card-text{
    text-align: center;
    font-weight: bolder;
    letter-spacing: 1px;
}
/*EFEITO BOTÃO CARD*/

.efeito {
    border: none;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
}
.efeito-botao:hover{
animation: bounce 1s linear;
}
@keyframes bounce {
    20%, 50%, 80%, to{
        transform: translateY(0);
    } 
    40%{
        transform: translateY(-20px)
    }
    70%{
    transform: translateY(-15px);
    } 
    90%{
        transform: translateY(-4px);
    }
}
@media (max-width: 768px) {
    .onde{
        margin-top: 3px !important;
        margin-bottom: 3px !important;
    }
    .quintal{
        margin-top: 50px !important;       
    }

    .turma{
        margin-bottom: -12px !important;
    }

    .tablet {
        flex: 0 0 auto;
        width: 100%;
    }
    .taImagens {
        width: 100%;
    }
    .deOnde{
        margin-bottom: 40px !important;
    }
    .pintadinha{
        margin-top: -7px !important;
}        
    .patati{
        margin-top: 75px !important;
    }
    .xuxa{
        margin-top: 20px !important;
    }
}
@media (min-width: 1024px) {
    .monica{
        margin-bottom: 25%!important;
    }
    .monicabt{
        margin-bottom: 0%!important;
    }
    .cultura {
        margin-bottom: 22%!important;
    }
    .culturabt {
        margin-bottom: 0%!important;
    }
    .deOnde {
        margin-bottom: 14%!important;
    }
    .Chicoo {
        margin-bottom: -5%!important;
    }
}
.pintadinha{
    margin-top: -10px !important;
    margin-bottom: -5px !important;
}        
.xuxa{
    margin-top: -10px !important;
    margin-bottom: -5px !important;
}
.bita{
    margin-top: 2px !important;
}
.peixonautau{
    margin-bottom: 5%!important;
}
.deOndebt{
    margin-top: -7%!important;
}
@media (min-width: 1280px){
    .monica{
        margin-bottom: 10%!important;
    }
    .monicabt{
        margin-bottom: 0%!important;
    }
    .cultura {
        margin-bottom: 25%!important;
    }
    .culturabt {
        margin-bottom: 0%!important;
    }
    .deOnde {
        margin-bottom: 14%!important;
    }
    .Chicoo {
        margin-bottom: 4%!important;
    }
}
.pintadinha{
    margin-top: -10px !important;
    margin-bottom: -5px !important;
}        
.xuxa{
    margin-top: -10px !important;
    margin-bottom: -5px !important;
}
.bita{
    margin-top: 2px !important;
}
.peixonautau{
    margin-bottom: 5%!important;
}
.deOndebt{
    margin-top: -7%!important;
}