@font-face{
    font-family: "letter";
    src: url("fontes/Happy\ Lucky\ Free.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "letter1";
    src: url("fontes/DiscotecaRounded_Free_For_Personal_Use.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
body{
    background-repeat: no-repeat;
    background: linear-gradient(45deg, #1e90ff, #fa89ec, #ffdb58);
    background-size: 400% 300%;
    position: relative;
    animation: change 15s ease infinite;
}
@keyframes change {
    0%{
            background-position: 0 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0 50%;
        }   
}
.titulo{
    text-align: center;
    margin-top: 70px;
    font-family: "letter1";
    letter-spacing: 5px;
    font-size: 60px;
}
.sub{
    text-align: center;
    margin-top: 80px;
    font-family: "letter";
    letter-spacing: 5px;
}
.imagem {
    width: 200px !important;
    height: 200px !important;
    border: solid 2px black;
    border-radius: 8%;
    margin-top: 50px;
    margin-bottom: 60px;
    overflow: hidden
    -moz-transition (all 0.2s);
    -webkit-transition-all: 0.2s;
    transition: all 0.2s;
    cursor: pointer;
}
.imagem:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: inset 3px 3px 3px black;
}
.col-categoria{
    padding: 0px 15px;
    margin: auto;
}
.btn-primary{
    background: transparent !important;
    border: none !important;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: none !important;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: none !important;
}
td,th {
    border-top: 2px solid black !important;
    vertical-align: none !important;
    vertical-align: middle !important;
}
th{
    font-size: 35px;
    font-weight: bolder;
    font-family: "letter1";
    letter-spacing: 2px;
}
td{
    font-size: 25px;
    font-weight: bolder;
    font-family: "letter1";
    letter-spacing: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 3px solid black !important;
}
.table{
    border: solid 3px black;
}
.efeito-card{
    overflow: hidden
}
.efeito-card img {
    max-width:100%;
    -moz-transition:(all 0.2s);
    -webkit-transition-all: 0.2s;
    transition: all 0.2s;
}
.efeito-card:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.3);
}
.modal-content{
    background-repeat: no-repeat;
    background: linear-gradient(45deg, #1e90ff, #fa89ec, #ffdb58);
    background-size: 400% 300%;
    position: relative;
    animation: change 15s ease infinite;
}
@keyframes change {
    0%{
            background-position: 0 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0 50%;
        }   
}
.btn.btn-secondary{
    width: 200px !important;
}
@media (max-width: 425px){
    .titulo{
        font-size: 35px;
    }
    td, th{
        font-size: 17px;
    }
    .icone{
        display: none !important;
    }
    .remove{
        display: none !important;
    }
    .icone2{
        height: 70px;
    }
}

@media (min-width: 1024px) {
    .sub{
        text-align: start !important;
    }
}