body{
    background-repeat: no-repeat;
    background: linear-gradient(45deg, #1e90ff, #fa89ec, #ffdb58);
    background-size: 400% 300%;
    position: relative;
    animation: change 15s ease-in infinite;
}
@keyframes change {
    0%{
        background-position: 0 70%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 70%;
    }
}
body{
    background-color: rgb(252, 250, 250);
}

.bg-black{
    background-color: black;
}
/*LOGOTIPO*/

.efeito-logo{
    overflow: hidden
}
.efeito-logo img {
    max-width:100%;
    -moz-transition :(all 0.2s);
    -webkit-transition-all: 0.2s;
    transition: all 0.2s;
    transform: scale(0.9);
}
.efeito-logo:hover img{
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}
.navbar-brand{
    margin-left: 40px;
}
.nav-link{
    padding: 0 30px;
    margin-right: 30px;
}
.nav-link:hover{
    transform: scale(1.1);
}
.navbar {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

h2{
    font-size: 30px;
    padding: 0;
    color:white;
    font-weight: bold;
    margin: 20px;
}
.cx1{
    margin-top: 15px;
    width: 446px;
    border: 2px solid #000000;
    font-weight: bold;
    max-width: 100%;
}
.cx2{
    margin-top: 15px;
    width: 446px;
    border: 2px solid #000000; 
    font-weight: bold;
    max-width: 100%;
}
.cx3{
    margin-top: 15px;
    width: 446px;
    border: 2px solid #000000;
    font-weight: bold;
    max-width: 100%;
}
.cx4{
    text-align: start;
    margin-top: 15px;
    width: 446px;
    height: 110px;
    border: 2px solid #000000;
    font-weight: bold;
    max-width: 100%;
}
::placeholder{
    font-weight: bolder;
    text-align: justify;
}
.mapa{
    width: 100%;
}
.contato{
    color: rgb(0, 0, 0);
    font-weight: bold; 
}
h1{
    padding: 5px;
    border-bottom: solid 5px blue;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.btn{
    float : right;
    margin-right: 100px;
    margin-top: 65px;
    width: 104px;
    background-color: #ffff;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: 2px solid #000000;
    cursor: pointer;
    transition: 0.8s;
    font-size: 15px;
}
.btn:hover {
    transition: 1s ease-in-out;
    background: blue;
    color: whitesmoke;
}
.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}


/*Formatação do Rodapé*/

.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    bottom: 0px;
    width: 100%;
    background-color:black;
    padding: 20px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:#1296f3;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

/*MIDIA SOCIAL*/

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #1296f3;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: rgba(245,201,214,255);
}


