@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

@font-face{
  font-family: "letter";
  src: url("DiscotecaRounded_Free_For_Personal_Use.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.bg-colorido{
    background-repeat: no-repeat;
    background: linear-gradient(45deg, #1e90ff, #fa89ec);
    background-size: 400% 300%;
    position: relative;
    animation: change 15s ease-in infinite;
}
@keyframes change {
    0%{
        background-position: 0 70%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 70%;
    }
}
.title{
  font-family: "letter";
  font-size: 60px;
  margin-top: 20px;
}
.type {

    display: inline-block;
    width: 40px;
    height: 50px;
    text-indent: 10px;
}
.inferior{
    text-align: center;
}
.app .controls .type input {
    display:none;
  }
  .app .controls .type label {
    width:30px;
    height:30px;
    display:inline-block;
    text-align:center!important;
    line-height:30px;
    margin:0px 2px;
    cursor:pointer;
  }
  .app .controls .type input:checked + label {
    background:rgb(0, 0, 0);
    color:#eee;
    border-radius:50%;
    text-align: center;
  }
  .app .controls .size input {
    height:10px;
  }
  .app .controls .actions {
    flex:1;
    text-align:right;
  }
  .app .controls .actions button {
    padding:5px 10px;
    cursor:pointer;
  }
  #defaultCanvas0{
    border: 2px solid black;
    width: 100%!important;
    height: 100%!important;
  }
  .type {
    display: inline-block;
    width: 40px;
    height: 50px;
    text-indent: 0px;
}
.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
.navbar{
  background: none;
}
.color{
  float: right;
  margin-top: 5%;
  border-radius: 50px !important;
}
#pen-color{
  background-color: white !important;
  color: white !important;
  background: white !important;
}
button{
  border-radius: 20px;
  background-color: #F7DC0C;
  border: transparent;
}
.pen-color{
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}
input[type=color]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}
.efeito-card{
  overflow: hidden
}
.efeito-card img {
  max-width:100%;
  -moz-transition:(all 0.2s);
  -webkit-transition-all: 0.2s;
  transition: all 0.2s;
}
.efeito-card:hover img{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .navbar-brand{
    position: fixed;
  }
}