/*1º Intercafe Header*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
}
nav{
    overflow: hidden;
    background: black;
    line-height: 40px;
}
nav a{
    float: left;
    display: block;
    width: 120px;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
nav a:hover{
    background: rgba(245,201,214,255);
    color: black;  
}
nav a.active{
    background: #1296f3;
    color: #fff;
}
nav .container{
    float: right;
    margin-right: 100px;
    margin-top: 10px;
}
nav input[type=email],input[type=password]{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border:none;
    width: 150px;
}
.container button{
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #1296f3;
    color: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.container button:hover{
    background:rgba(245,201,214,255);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

/*Footer*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color:black;
    padding: 20px 0;
}
.footer-col{
width: 25%;
padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:#1296f3;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #1296f3;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: rgba(245,201,214,255);
}
/*Links*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
