/*FONTE*/
body {
    background-repeat: no-repeat;
    background: linear-gradient(45deg, #1e90ff, #fa89ec, #ffdb58);
    background-size: 400% 300%;
    position: relative;
    animation: change 15s ease-in infinite;
}
@keyframes change {
    0%{
        background-position: 0 70%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 70%;
    }
}

@font-face {
    font-family: "pixelmon";
    src: url("VEZTRO.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* FUNDO*/



.main-title{
    font-family: "pixelmon";
    font-size: 60px;
    color: white;
    padding: 20px;
}

/*INFORMAÇOES USUARIO*/

.infor{
    border: solid 4px white;
}

.informacoes{
    font-family: "pixelmon";
    color: white;
    padding: 10px;
}
.informacoes-pts{
    font-family: "pixelmon";
    color: white;
    padding: 10px;
    text-align: end;
}

/*TABELA*/

.table{
    z-index: 2;
    position: relative;
    border: solid 3px  white;
    font-family: "pixelmon";
    letter-spacing: 2px;
}
.inicio{
    border: solid 4x white;
}

.margin-tabela{
    margin-top: 10px;
    margin-bottom: 60px;
}

/*CABEÇALHO TABELA*/

th{
    text-align: center;
    color: white;
    font-size: 32px;
}

/*INFORMAÇÕES*/

td{
    text-align: center;
    color: white;
    font-size: 30px;
}