/*FONTE*/

@font-face {
    font-family: "pixelmon";
    src: url(VEZTRO.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

/*BANNER*/

body {
    background-repeat: no-repeat;
    background: linear-gradient(45deg,#4bb95ae7, #d5dcee, #f78801);
    background-size: 400% 300%;
    position: relative;
    animation: change 7s ease-in-out infinite;
}
@keyframes change {
    0%{
            background-position: 0 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0 50%;
        }
}

h1{
    text-align: center;
    font-family: "pixelmon";
    font-size: 60px;
}

.banner {
    width: 100%;
    height: 500px;
    border-radius: 5%;
    margin-top: 20px;
    border: solid 3px black;
    box-shadow: 2px 2px 20px 1px black;
}

.imagem {
    width: 200px;
    height: 100px;
    border: solid 2px black;
    border-radius: 8%;
    margin-bottom: 40px;
    margin-top: 30px;
    overflow: hidden
    -moz-transition (all 0.2s);
    -webkit-transition-all: 0.2s;
    transition: all 0.2s;
}

.imagem:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: inset 3px 3px 3px black;
}

.imagem1 {
    width: 250px;
    height: 200px;
    border: solid 2px black;
    border-radius: 8%;
    margin-bottom: 40px;
    margin-top: 30px;

    overflow: hidden
    -moz-transition (all 0.2s);
    -webkit-transition-all: 0.2s;
    transition: all 0.2s;
}

.imagem1:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: inset 3px 3px 3px black;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
