/*FONTE*/

@font-face {
    font-family: "letter";
    src: url("VEZTRO.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "pixelmon";
    src: url(upheavtt.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

/*FUNDO*/

body {
    background-repeat: no-repeat;
    background: linear-gradient(45deg, #1e90ff, #fa89ec, #ffdb58);
    background-size: 400% 300%;
    position: relative;
    animation: change 15s ease-in infinite;
}
@keyframes change {
    0%{
        background-position: 0 70%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 70%;
    }
}

.main-title{
    font-family: "letter";
    font-size: 60px;
}


/*CARD*/
.card{
    margin-bottom: 30px;
}
.efeito-card{
    overflow: hidden
}
.efeito-card img {
    max-width:100%;
    -moz-transition:(all 0.2s);
    -webkit-transition-all: 0.2s;
    transition: all 0.2s;
}
.efeito-card:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.card-img-top{
    max-width: 100%;
    width: 414px;
    height: 414px;
}
.card-title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: "pixelmon";
    font-weight: bolder;
    font-size: 27px;
    letter-spacing: 1px;
}
.card-text{
    text-align: center;
    font-weight: bolder;
    letter-spacing: 1px;
}

/*EFEITO BOTÃO CARD*/

.efeito {
    border: none;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 4ms ease;
}
.efeito-botao:hover{
animation: bounce 1s linear;
}

@keyframes bounce {
    20%, 50%, 80%, to{
        transform: translateY(0);
    } 
    40%{
        transform: translateY(-20px)
    }
    70%{
    transform: translateY(-15px);
    } 
    90%{
        transform: translateY(-4px);
    }
}
.btn-primary{
    margin-top: 10px;
    padding: 20px
}