.titulo{
    margin-bottom: 15px;
    border-bottom: solid 3px gray ;
}
.img1{
    width: 250px;
    height: 250px;
    padding: 10px;
    border-radius: 10%;
    border-top: solid 3px gray ;
    border-bottom: solid 3px gray ;
    box-shadow: 1px 1px 1px black;
    filter: grayscale(80%);
    -webkit-filter: grayscale(80%);
}
.img1:hover{
    transform: scale(1.1);
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    cursor: pointer;
}
.card{
    border: none !important;
    margin-top: 30px;
    margin-bottom: 59px;
}
.embed-responsive{
    width:70rem;
    height:35rem;
    border-radius: 5%;
    border: solid 1px black;
    box-shadow: 2px 2px 2px 2px black;
}
.video{
    background-color: rgb(0, 174, 255);
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}