body{
    background: url(img/fundo-do-site.jpg)
}

/*PESQUISA*/

.form-control{
    background-color: #deb887;
    border: solid 2px black;
    color: black;
    font-weight: bolder;
    width: 286px!important;

}
.form-control:hover{
    background-color: #deb887;
    color: black;
    font-weight: bolder;
}
.form-control:focus {
    color: #495057;
    background-color: #deb887 !important;
    border: none !important;
}
.btn-outline-success{
    border: none;
    background: none !important;
    color: #deb887;
}
.btn-outline-success:hover{
    background: #deb887 !important;
    color: black;
    border: solid 2px black;
}

/* ESTANTE */

.fundo{
    background-image: url(img/Madeira-estante.jpg);
}
.card-img-top{
    width: 286px;
    height: 406px;
}

.card-img-top:hover{
    transform: scale(1.05);
    box-shadow: 15px 15px 10px 1px black;
}
.card{
    box-shadow: 15px 15px 1px 1px;
}
*, ::after, ::before {
    box-sizing: none !important;
}